.çerçeve{
    width: 40px;
    height: 40px;
    
    border-radius: 50%;
    border: 1px , white , solid;
}
.çerçeve:hover
{ 
    transition: 3s;
     border-radius: 0%;
    width:60px;
    height:60px;
  
     
    border-color: black;
}
img{
    width:60px;
    height:60px;
}
table th{
    text-align:center;
    align-content:center;
}
table tr:hover{
        background-color: #f1f1f1;
}