<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Mvc6 Online Ticari Otomasyon</title>
    <link href="/css/styles.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
    <link href="/fontawesome-free-6.5.2-web/css/all.css" rel="stylesheet">
    <link href="/fontawesome-free-6.5.2-web/css/all.min.css" rel="stylesheet">


</head>
<body>
  
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">İşlemler</div>



                        <a class="nav-link" href="/CurrentPanel/Index">
                            <div>
                                <i class="fa-solid fa-user"></i>
                                Profilim
                            </div>
                        </a>

                        <a class="nav-link"  href="/CurrentPanel/MyOrder">
                            <div>

                                <i class="fa-solid fa-box-open"></i>

                                Siparişlerim
                            </div>
                        </a>


                        <a class="nav-link" href="/CargoTracking/Index">
                            <div>
                                <i class="fa-solid fa-truck"></i>
                                Kargo
                            </div>
                        </a>


                        <a class="nav-link" href="/CurrentPanel/Message">
                            <div>
                                <i class="fa-solid fa-envelope"></i>
                                Mesajlar
                            </div>
                        </a>

                        <a class="nav-link" href="/CurrentPanel/Logout">
                            <div>
                                <i class="fa-solid fa-right-from-bracket"></i>
                                Çıkış
                            </div>
                        </a>


                    </div>

            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </main>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Your Website 2024</div>
                        <div>
                            <a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="js/scripts.js"></script>
</body>
</html>
