
 
.cerceve {
    height: 70px;
    width: 70px;
    border:3px,solid,white;
}
.cerceve:hover
{
    border:1.2px,solid white;
}
.urunresim{
    height:65px;
    width:65px;
}
 
.cerceve > .urunresim {
    vertical-align: left;
    
}
.cerceve > .urunresim:hover {
       
        height:100px;
        width: 100px;
}
.cerceve>.personelresim{
    height:65px;
    width:65px;
}
    .cerceve > .personelresim:hover {
        height: 90px;
        width: 90px;
        border: 1px,solid,white;
    }
tr:hover
{
    background-color:wheat;
}

tr{
    height:135px;
}
#maintr{
    height:10px;
}